
$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
    background: #fafafa;
    color: #125688;
    font-family: 'Roboto', sans-serif;
}

#main-container {
    margin: 30px auto;
}

.iphone {
    max-width: 100%;
}

.site-footer{
	text-transform: uppercase;
	font-size: 12px
}

.signup-box,
.login-box{
	background-color: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
}

.disruptivegram{
	font-family: 'Oleo Script', cursive;
	font-size: 42px;
}

.signup-form{
	width: 65%;
	margin: 0 auto;
}


.signup-form h2{
	color: #535353;
	font-size: 1.1em;
}

.signup-form .btn.btn-fb{
	background-color: #4090db;
	font-size: .9em;
}

.signup-form .btn.btn-fb:hover{
	background-color: #2d6599;
}

.signup-form .btn.btn-signup{
	background-color: #125688;
}
